/* Shere Style */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sitecolor{
    color: #FD6E0A;
}
.btn-primarry{
border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px 15px 35px;
}
.section-head{
    color: #474747;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-detail{
    color: #474747;
    text-align: center;
    font-size: 16px;
}

/* Nav Style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
nav >ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav > ul > li{
    margin-left: 52px; 
}
nav >h3{
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

/* Header Style */

.header{
   background-color: #FFF8F3; 
   background-image: url(/images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   
}
.button-border{
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-wc{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.banner-hed{
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #474747;
}
.banner-des{
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
    /* padding-bottom: 75px; */
}
.banner .profile-img{
    width: 500px;
}
.about{
    padding: 130px;
    margin: 130px 0px;
    background-color: #FFF8F3;
    margin: 75px 100px 0px 100px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}