/* Shere Style */
/* *{
    margin: 0;
    padding: 0;
} */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sitecolor{
    color: #FD6E0A;
}
.btn-primarry{
border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px 15px 35px;
}
.section-head{
    color: #474747;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    /* padding-bottom: 40px; */
}
.section-detail{
    color: #474747;
    text-align: center;
    font-size: 16px;
}

/* Nav Style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
   
}
nav >ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav > ul > li{
    margin-left: 52px; 
}
nav >h3{
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

/* Header Style */

.header{
   background-color: #FFF8F3; 
   background-image: url(/images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   
}
.button-border{
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-wc{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.banner-hed{
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #474747;
}
.banner-des{
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
    /* padding-bottom: 75px; */
}
.banner .profile-img{
    width: 500px;
}
.about{
    padding: 90px;
    background-color: #FFF8F3;
    margin: 75px 100px 0px 100px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.about-info{
    text-align: center;
}
.What-I-do{
    margin: 75px;
}
#what-i-do{
    padding: 0px 150px;
}
.skill-container{
    display: flex;
    margin: 0px 100px 35px 100px;
    padding-top: 50px;
    gap: 22px;
}
.skills{
    padding: 20px;
    border-radius: 7px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.07);
}
.skill-title{
    color: #474747;
    margin-top: 12px;
}
.skill-description{
    color: #474747;
    padding-top: 12px;
}
.resume-column-title{
    color: #474747;
    font-size: 25px;
    font-weight: 550;
}
.resumi-containner{
    display: flex;
    gap: 35px;
    margin: 0px 170px 35px 170px;
}
.resume-item-title{
    color: #474747;
    font-size: 22px;
}
.resume-item-institute{
    color: #474747;
    font-size: 18px;
}
.resumi-item-description{
    color: #474747;
    font-size: 12px;
}
.resume-item{
    padding-bottom: 10px;
}
.download-cv{
    text-align: center;
    margin-top: 30px;
}
.download-cv a{
    text-decoration: none;
}

