/* Shere Style */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sitecolor{
    color: #FD6E0A;
}
.btn-primarry{
border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px 15px 35px;
}

/* Nav Style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
nav >ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav > ul > li{
    margin-left: 52px; 
}
nav >h3{
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

/* Header Style */

.header{
   background-color: #FFF8F3; 
}
.button-border{
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-img{
    width: 500px;
}